html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p{
	padding: 0;
	margin: 0;
	font: inherit;
	font-size:  calc(100vw / 100);
	vertical-align: baseline;
	border: 0;
}


body {
	padding: 0;
	margin: 0;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
}
